name: Build

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          channel: 'stable'

      - name: Download libraries
        run: |
          ./download-libs.sh

      - name: Install dependencies
        run: flutter pub get

      - name: 'Publish Dart package'
        uses: k-paxian/dart-package-publisher@v1.6.1
        with:
          accessToken: ${{ secrets.PUB_DEV_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.PUB_DEV_REFRESH_TOKEN }}
          flutter: true
          skipTests: true
          flutterBranch: main

      - name: Extract version and create tag
        run: |
          VERSION=$(sed -n 's/^[[:space:]]*version:[[:space:]]*\([^[:space:]]*\).*/\1/p' pubspec.yaml)

          [ -n "$VERSION" ] || exit 1

          git tag "$VERSION" 2>/dev/null || echo "Tag already exists"
          git push origin "$VERSION" || true

      - name: Notify slack releases channel
        uses: slackapi/slack-github-action@v2
        with:
          webhook: ${{ secrets.SLACK_RELEASES_PROD_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            status: "${{ job.status }}"
            environment: "PRODUCTION"
            project: "LexActivator Dart"

