name: Update version

on:
  workflow_dispatch:
    inputs:
      libraryVersion:
        description: 'LexActivator Library Version'
        required: true
        default: ''
      packageVersion:
        description: 'Package Version'
        required: true
        default: ''

jobs:
  update-version:
    runs-on: ubuntu-latest
    env:
      LIBRARY_VERSION: ${{ github.event.inputs.libraryVersion }}
      PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update Package Version
        run: |
          sed -i -E 's/^([[:space:]]*version:[[:space:]]*).*/\1${{ env.PACKAGE_VERSION }}/' pubspec.yaml

      - name: Update Library Version in download script
        run: |
          sed -i -E 's/^([[:space:]]*)VERSION="[^"]*"/\1VERSION="v${{ env.LIBRARY_VERSION }}"/' ./download-libs.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: ci/${{ env.PACKAGE_VERSION }}
          title: "chore: bump package version to ${{ env.PACKAGE_VERSION }}"
          commit-message: "chore(package version): updated version"
          body: |
            Automated package version bump.
          base: main
          add-paths: |
            pubspec.yaml
            download-libs.sh

